/* ======================================
   ACai Bowl Login Page
====================================== */


*{

    box-sizing:border-box;

    font-family:Arial, sans-serif;

}



body{

    margin:0;

}



.login-page{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:linear-gradient(
        135deg,
        #d9c7ff,
        #f8edff
    );

}



.login-box{

    width:350px;

    background:white;

    padding:40px;

    border-radius:30px;

    text-align:center;

    box-shadow:0 15px 40px rgba(0,0,0,0.12);

}



.login-box h1{

    color:#8b5cf6;

    font-size:35px;

    margin-bottom:10px;

}



.login-box p{

    color:#777;

    margin-bottom:25px;

}



.login-box input{

    width:100%;

    padding:15px;

    margin-bottom:15px;

    border-radius:15px;

    border:1px solid #ddd;

    outline:none;

}



.login-box button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:20px;

    background:#9b7bea;

    color:white;

    font-size:16px;

    cursor:pointer;

}



.login-box button:hover{

    background:#7c5bd6;
   body{
    background:pastel purple;
   }

      }
